footer
	div Copyright 2016
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', "#{ga}", 'auto');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
script( type="application/ld+json" ).
	{
		"@context": "http://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "#{currentURL}"
		},
		"headline": "#{title}",
		"image": {
			"@type": "ImageObject",
			"url": "#{baseURL}#{featuredimg}",
			"height": "696px",
			"width": "696px"
		},
		"datePublished": "#{published}",
		"dateModified": "#{updated}",
		"author": {
			"@type": "Person",
			"name": "#{firstname} #{lastname}",
			"url": "#{authorURL}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "#{sitetitle}",
			"url": "#{baseURL}",
			"logo": {
				"@type": "ImageObject",
				"url": "#{logo}",
				"width": "60px",
				"height": "600px"
			}
		},
		"description": "#{pagedesc}"
	}