head
	meta( charset='utf8' )
	meta( name="viewport" content="width=device-width, initial-scale=1" )

	if file.meta.file
		title !{site.identity.title} - !{file.meta.title}
	else
		title !{site.identity.title}

	meta( name="twitter:title" content=site.identity.title + ' - ' + file.meta.title )
	meta( property="og:title" content=site.identity.title + ' - ' + file.meta.title )
	meta( name="twitter:card" content=file.meta.desc )
	meta( property="og:description" content=file.meta.desc )
	meta( property="article:published_time" content=file.meta.published)

	meta( property="og:site_name" content=site.identity.title )
	meta( name="description" content=site.identity.desc )
	meta( name="description" content=site.identity.desc )

	
	meta( name="twitter:site" content=site.author.twitter )
	meta( property="og:type" content="article" )

	meta( property="og:url" content=url )
	meta( property="fb:admins" content="1299359953416544" )
	meta( property="profile:first_name" content=site.author.firstname)
	meta( property="profile:last_name" content=site.author.lastname)

	meta( property="og:image" content=file.meta.featuredimg)

	link( rel="dns-prefetch" href="//www.google-analytics.com" )
	link( rel="dns-prefetch" href="//fonts.googleapis.com.com" )

	if file.content
		link( rel="canonical" href=site.system.url + site.system.blogslug + '/' + file.meta.slug )

body
	nav#navbar
		ul
			li 
				a( href='/' ) Home
			li Contact
