head
	meta( charset='utf8' )
	meta( name="viewport" content="width=device-width, initial-scale=1" )

	title !{title}
	meta( name="twitter:title" content=title )
	meta( property="og:title" content=title )
	meta( property="og:site_name" content=sitetitle )

	meta( name="description" content=sitedesc )
	meta( name="description" content=sitedesc )

	meta( name="twitter:card" content=pagedesc )
	meta( property="og:description" content=pagedesc )

	meta( name="twitter:site" content=twitter )
	meta( property="og:type" content="article" )

	meta( property="article:published_time" content=published)

	meta( property="og:url" content=url )
	meta( property="fb:admins" content="1299359953416544" )
	meta( property="profile:first_name" content=firstname)
	meta( property="profile:last_name" content=lastname)

	link( rel="dns-prefetch" href="//www.google-analytics.com" )
	link( rel="dns-prefetch" href="//fonts.googleapis.com.com" )
body
	nav
		ul
			li Home
			li Contact
			li I am #{title}