doctype html
html
	include _header.pug
	body
		include _menu.pug
		main
			div#header
				h1 #{site.identity.title}
			section#index.container
				h2 All posts
				each post in posts
					a.postlist( href=site.system.url + site.system.blogslug + "/" + post.slug )
						article
							img.circle.thumb( src=site.system.url + post.meta.featuredimg )
							h3 #{post.meta.title}
							span #{post.meta.desc}
					
		include _footer.pug