doctype html
html
	include _header.pug
	body
		include _menu.pug
		main
			div#header
				h1 #{site.identity.title}
			section#index.container
				h2 All posts
				each post in posts
					a.postlist( href=site.system.url + site.system.blogslug + "/" + post.slug )
						article
							h3 #{post.meta.title}
							span #{post.meta.desc}
				h2 Categories
				ul#categories
					each cat in site.cats
						li
							a(href=site.system.url + 'category/' + cat) #{cat}
					
		include _footer.pug